:root {
  /*COLORS*/
  --HEADER-BGCOLOR: #333;
  --HEADER-COLOR: whitesmoke;
  --GRADIENT-COLOR: rgb(246, 217, 217);
  --BGCOLOR: #e59885;
  --TABLE-BGCOLOR: rgba(255, 255, 255, 0.711);
  --SECOND-BGCOLOR: hsla(0, 0%, 50%, 0.316);
  --FOOTER-BGCOLOR: rgb(194, 186, 186);

  /*FONTS*/
  --FF: "Roboto", "Lato", sans-serif;
  --FS-TEXT-NAV: clamp(2rem, 1.8vw, 5rem); /*Texty - a, p*/
  --FS-TEXT: clamp(1rem, 1.6vw, 5rem); /*Texty - a, p*/
  --FS-H1: clamp(1.8rem, 2.5vw, 6rem); /*Nadpis h1*/
  --FS-H2: clamp(1.6rem, 2.3vw, 6rem); /*Nadpis h2*/
  --FS-H3: clamp(1.5rem, 2.2vw, 5.8rem); /*Nadpis h3*/
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: hsla(0, 3%, 85%, 0.4);
}

header img {
  width: 170px;
  padding: 0.5rem;
}

body {
  margin: 0;
  background-image: url(/obrazky/about-bcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: var(--FS-H1);
  text-align: center;
  margin: 0;
  padding: 1rem;
}

h2 {
  font-size: var(--FS-H2);
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

h3 {
  font-size: var(--FS-H3);
}

p,
a,
li {
  font-size: var(--FS-TEXT);
  font-family: var(--FF);
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: bold;
}

main {
  background-color: hsla(0, 3%, 85%, 0.4);
  padding-bottom: 0.1rem;
}

main img {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#no-margin {
  margin: 0;
  margin-left: 0.5rem;
}

.general-section {
  margin: auto;
  width: 75%;
  border-radius: 2rem;
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 1rem;
}

.general {
  display: flex;
  justify-self: center;
  gap: 4rem;
}

.general li {
  text-align: left;
}

.symbols-section {
  margin: 1rem auto;
  width: 75%;
  border-radius: 2rem;
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 1rem;
}

.symbols-container {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 4rem;
}

.symbol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.person img {
  width: clamp(100px, 20vw, 170px);
  height: auto;
}

.symbol img {
  width: clamp(100px, 10vw, 170px);
  height: auto;
  margin: auto;
}

.audio {
  margin-top: 2rem;
  text-align: center;
}

.audio p {
  margin: 0.2rem;
}

.persons-section {
  margin: 1rem auto;
  width: 75%;
  border-radius: 2rem;
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 1rem;
}

.persons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.person {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.person img {
  margin: auto;
  width: 170px;
  height: 170px;
  border-radius: 2rem;
  border: 2px solid black;
}

.partners-section {
  margin: 0 auto;
  width: 75%;
  border-radius: 2rem;
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 1rem;
}

.partners {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 4rem;
  width: 80%;
  text-align: center;
}

footer {
  text-align: center;
  background-color: hsla(0, 3%, 85%, 0.4);
}

footer p {
  margin: 0;
  padding: 1rem;
  font-size: var(--FS-TEXT-NEWS);
}

@media (max-width: 1024px) {
  .symbols-container {
    gap: 3rem;
  }
  .person img {
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 768px) {
  .general {
    gap: 0;
  }

  .centered {
    display: block;
    padding-left: 1.3rem;
  }

  .symbols-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  span::after {
    content: "\A"; /* nový riadok */
    white-space: pre;
  }
  .persons-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .person img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .general {
    flex-direction: column;
  }
  .persons-container {
    grid-template-columns: repeat(2, 1fr);
  }
  audio {
    width: 100%;
  }
}

/*
@media (max-width: 480px) {
  .general-section,
  .symbols-section,
  .persons-section,
  .partners-section {
    width: 85%;
    padding: 1rem;
  }

  .general {
    justify-self: center;
    gap: 0;
    flex-direction: column;
  }

  .symbols-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 0;
  }
  

  .symbol {
    height: auto;
  }

  .symbol img {
    margin: 0 auto;
  }

  audio {
    width: 100%;
  }

  .persons-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .second {
    padding-left: 3.3rem;
  }
}

@media (min-width: 481px) and (max-width: 860px) {
  .section {
    width: 90%;
    padding: 1rem;
  }

  .general {
    justify-self: center;
    flex-direction: column;
    gap: 0;
  }

  .symbols-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .symbol {
    height: auto;
  }

  .persons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  audio {
    width: 100%;
  }
}

@media (min-width: 861px) and (max-width: 1030px) {
  .general-section,
  .symbols-section,
  .persons-section,
  .partners-section {
    width: 85%;
    padding: 1rem;
  }
  .symbols-container,
  .partners {
    flex-direction: column;
    align-items: center;
  }

  .persons-container,
  .symbols-container,
  .partners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

/*

@media (max-width: 480px) {
  .general-section,
  .symbols-section,
  .persons-section,
  .partners-section {
    width: 85%;
    padding: 1rem;
  }

  .general {
    justify-self: center;
    gap: 0;
    flex-direction: column;
  }

  .symbols-container {
    flex-direction: column;
    gap: 0;
  }

  .symbol {
    height: auto;
  }

  .symbol img {
    margin: 0 auto;
  }

  audio {
    width: 100%;
  }

  .persons-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}*/

/*

@media (max-width: 1024px) {
  .symbols-container {
    gap: 1.5rem;
  }
}

@media (max-width: 426px) {
  .persons-container {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }

  .person {
    justify-content: unset;
  }

  .person img {
    margin: 0 auto;
  }
}

@media (max-width: 376px) {
  body,
  header,
  footer {
    width: 100%;
  }
  .general-section {
    margin: 1rem auto;
    width: 80%;
  }

  .symbols-section {
    margin: 1rem auto;
    width: 80%;
  }

  .persons-section {
    margin: 1rem auto;
    width: 80%;
  }

  .persons-container {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }

  .person {
    justify-content: unset;
  }

  .person img {
    margin: 0 auto;
  }
}
*/
