:root {
  /*COLORS*/
  --HEADER-BGCOLOR: #333;
  --HEADER-COLOR: whitesmoke;
  --GRADIENT-COLOR: rgb(246, 217, 217);
  --BGCOLOR: #e59885;
  --TABLE-BGCOLOR: rgba(255, 255, 255, 0.711);
  --SECOND-BGCOLOR: hsla(0, 0%, 50%, 0.316);
  --FOOTER-BGCOLOR: rgb(194, 186, 186);

  /*FONTS*/
  --FF: "Roboto, Lato";
  --FS-TEXT-NAV: clamp(2rem, 1.8vw, 5rem); /*Texty - a, p*/
  --FS-TEXT: clamp(1rem, 1.8vw, 5rem); /*Texty - a, p*/
  --FS-TEXT-TABLE: clamp(1rem, 2vw, 6rem); /*Texty - a, p*/
  --FS-H1: clamp(1.8rem, 2.5vw, 6rem); /*Nadpis h1*/
  --FS-H2: clamp(1.6rem, 2.3vw, 6rem); /*Nadpis h2*/
  --FS-H3: clamp(1.5rem, 2.2vw, 5.8rem); /*Nadpis h3*/
  --FS-H4: clamp(1.3rem, 2vw, 5rem); /*Nadpis h4*/
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: hsla(0, 3%, 85%, 0.4);
}

header img {
  width: 170px;
  padding: 0.5rem;
}

body {
  margin: 0;
  background-image: url(/obrazky/samospráva-bcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: var(--FS-H1);
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

h2 {
  font-size: var(--FS-H2);
  text-align: center;
  margin: 0;
  margin-top: 1rem;
}

h3 {
  font-size: var(--FS-H3);
  margin: 0;
}

h4 {
  font-size: var(--FS-H4);
  margin-bottom: 1rem;
}

p,
a,
li,
input,
label {
  font-size: var(--FS-TEXT);
  font-family: var(--FF);
  text-decoration: none;
  color: black;
}

ul {
  margin-bottom: 1rem;
}

textarea {
  font-size: var(--FS-TEXT);
  margin: auto;
  width: 80%;
  resize: none;
}

button {
  display: flex;
  justify-self: center;
  font-size: var(--FS-TEXT);
  cursor: pointer;
  background-color: rgb(87, 151, 248);
  border-radius: 2rem;
  border: none;
  margin-top: 1rem;
}

span {
  font-weight: bold;
}

main {
  background-color: hsla(0, 3%, 85%, 0.4);
}

main img {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#no-margin {
  margin: 0;
  margin-left: 0.5rem;
}

.kic-section,
.hotels-section {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
  border-radius: 2rem;
  background-color: hsla(0, 0%, 100%, 0.8);
}

table {
  font-size: var(--FS-TEXT);
  margin: auto;
}

.blue,
th,
caption {
  background-color: rgb(87, 151, 248);
  border: 2px solid rgb(87, 151, 248);
}

.kic-img-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.kic-img-container img {
  width: 350px;
}

.hotels-section {
  display: flex;
  flex-direction: column;
}

.hotel {
  display: flex;
  justify-content: space-around;
}

.room-info,
.hotel-info {
  margin-top: 5rem;
  width: 33%;
}

.hotel img {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 1rem;
}

.hidden {
  display: none;
}
